@font-face {
    font-family: 'Metric';
    src:  url('../../fonts/Metric-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metric';
    src:  url('../../fonts/Metric-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Metric';
    src:  url('../../fonts/Metric-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metric';
    src:  url('../../fonts/Metric-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Metric';
    src:  url('../../fonts/Metric-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
